/* Estilos para a área do dashboard */
.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard_heading {
    font-size: 2.2em;
    margin-bottom: 0.5em;
  }
  
  .dashboard_description {
    color: #aaa;
    margin-bottom: 1em;
  }
  
  /* Estilos para quando não há posts */
  .noposts {
    text-align: center;
  }
  
  .noposts_description {
    margin-bottom: 1.5em;
  }
  
  .noposts_link {
    padding: 10px 25px;
  }
  
  /* Estilos para o cabeçalho do post */
  .post_header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
  }
  
  /* Estilos para as linhas de post */
  .post_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    width: 80%;
    padding: 10px;
  }
  
  .post_content {
    color: #000;
  }
  
  .post_action_button,
  .post_action_link {
    margin: 0 5px;
    height: 30px;
    width: 100px;
    font-size: 0.7em;
  }